fastapi
uvicorn
python-multipart
pillow
exifread
python-dotenv
sqlalchemy
psycopg[binary]
alembic
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
pydantic[email]
torch
transformers
openai
opencv-python-headless
numpy
